header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto; /*p centralizar um conteudo se utiliza a margem automática*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /*margin = espaçamento externo; 1º número= p/ o topo, 2º= p/ a direita, 3º= p/ baixo, 4º= p/ a esquerda */
}

nav a {
    text-transform: uppercase; /*uppercase é para deixar o texto em maiúsculo */
    color: #000000;
    font-weight: bold; /*bold = negrito */
    font-size: 22px;
    text-decoration: none; /*none tira o sublinhado do link*/
}

/*hover é o comportamento do mouse qd passa por cima do elemento 
detalhe: adiciona o hover após o item q quer impactar*/
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*serve p q o espaçamento lateral esteja dentro do percentual, agora a largura e pixels de espaç. interno estão dentro dos 30% */
    border: 2px solid #000000; /*borda dos elementos com 2px; do tipo sólido, tem outros tipos como: dotted (circulos) e dashed (tracejado) */
    border-radius: 10px; /*deixa a borda arredondada */
}

.produtos li:hover {
    border-color: #C78C19;
}

/*active é o comportamento qd o elemento é clicado*/
.produtos li:active {
    border-color: #088C19;
} 

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg"); /*no CSS ao referenciar uma imagem usamos o valor url, 
    nesse caso como é p adicionar uma imagem de fundo em outro elemento usa-se url no background
    Quando colocamos uma imagem de fundo em um elemento, o CSS, por padrão, copia e cola a imagem diversas vezes até ocupar todo o espaço do elemento*/
    padding: 40px 0;
}

.copyright {
    color:#FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}




