body {
    font-family: 'Montserrat', sans-serif;
} /*a fonte selecionada é a montserrat e como alternativa a sans serif padrao */


header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto; /*p centralizar um conteudo se utiliza a margem automática*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /*margin = espaçamento externo; 1º número= p/ o topo, 2º= p/ a direita, 3º= p/ baixo, 4º= p/ a esquerda */
}

nav a {
    text-transform: uppercase; /*uppercase é para deixar o texto em maiúsculo */
    color: #000000;
    font-weight: bold; /*bold = negrito */
    font-size: 22px;
    text-decoration: none; /*none tira o sublinhado do link*/
}

/*hover é o comportamento do mouse qd passa por cima do elemento 
detalhe: adiciona o hover após o item q quer impactar*/
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*serve p q o espaçamento lateral esteja dentro do percentual, agora a largura e pixels de espaç. interno estão dentro dos 30% */
    border: 2px solid #000000; /*borda dos elementos com 2px; do tipo sólido, tem outros tipos como: dotted (circulos) e dashed (tracejado) */
    border-radius: 10px; /*deixa a borda arredondada */
}

.produtos li:hover {
    border-color: #C78C19;
}

/*active é o comportamento qd o elemento é clicado*/
.produtos li:active {
    border-color: #088C19;
} 

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg"); /*no CSS ao referenciar uma imagem usamos o valor url, 
    nesse caso como é p adicionar uma imagem de fundo em outro elemento usa-se url no background
    Quando colocamos uma imagem de fundo em um elemento, o CSS, por padrão, copia e cola a imagem diversas vezes até ocupar todo o espaço do elemento*/
    padding: 40px 0;
}

.copyright {
    color:#FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao { 
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2); 
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*css da página inicial*/
.banner {
    width:100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em; /*vai ter o dobro de tamanho da fonte base */
    margin: 0 0 1em;
    clear: left;/*a propriedade clear vai limpar o float que tem em utensilios*/
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left; /*o float serve p q o elemento se destaque (flutuação), e outros elementos se possicionam ao redor dele*/
    margin: 0 20px 20px 0; /*em cima, direita, baixo, esquerda*/
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}


.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5; /*p os itens não ficarem tão colados se modifica o line-height (altura da linha), e nesse caso 1.5= tamanho da fonte + 50% */
}

/*first-child (pseudo elemento) seleciona o primeiro filho, nesse caso o primeiro da lista dos itens 
é como se estivesse criando uma classe através do CSS
também pode marcar last-child, nth-child (seleciona elementos com base em suas posições em um grupo de elementos irmãos)*/
.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "✰";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;/*box-shadow (="sombra na caixa") é responsável por dar sombra em volta do elemento; 
    1˚= eixo X obs: p/ sombra interna o 1˚ seria= "inset", 2˚= eixo Y, 3˚= transição, 4˚= tamanho da sombra projetada (intensidade), 5˚= cor. 
    obs: tbm existe sombra em textos com a propriedade "text-shadow".*/
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/*É dentro do media query que criamos um estilo visual que compreenda telas de até 480px (dispositivo móvel) */
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}